/* RESPONSIVE 920px */

@media screen and (max-width: 920px) {
    .music-container {
        flex-wrap: wrap;
        
    }

    .music-items {
        width: calc(100% / 4);
    }

    .player-sx {
        width: 90px;
    }

    .music-bar {
        width: 80px;
    }

    .player-center {
        min-width: 380px;
    }

    .music-bar-center {
        width: 280px;
    }

    .fa-list, .fa-tv, .fa-volume-high {
    margin-right: 5px;
    }
}

/* RESPONSIVE 680px */
@media screen and (max-width: 680px) {
    .music-items {
        width: calc(100% / 2);
    }

    .player-sx {
        width: 90px;
        margin-right: 10px;
    }

    .music-bar {
        width: 70px;
    }

    .player-center {
        min-width: 300px;
    }

    .music-bar-center {
        width: 200px;
    }

    .fa-list, .fa-tv, .fa-volume-high {
    margin-right: 4px;
    }

    .player-dx {
        margin-left: -20px;
    }
}



/* RESPONSIVE 540px */
@media screen and (max-width: 540px) {
    .lateral-bar {
        width: 50px;
        min-width: 50px;
        padding: 20px 10px;
    }

    .lateral-none {
        display: none;
    }

    .lateral-bar .search-bar {
    padding-left: 3px;
    }

    .icon {
        display: inline-block;
    }

    .download {
        padding-bottom: 6px;
    }

    .download .install {
        border-bottom: none;
        padding-left: 5px;
        padding-bottom: 13px;
    }

    .download .user {
        padding-left: 3px;
    }

    .start-none {
        display: inline-block;
    }

    .column {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .player-sx {
        width: 80px;
        margin-right: 10px;
    }

    .music-bar {
        width: 50px;
    }

    .player-center {
        min-width: 250px;
    }

    .music-bar-center {
        width: 150px;
    }

    .fa-list, .fa-tv, .fa-volume-high {
        margin-right: 3px;
    }

    .text-player {
        padding-right: 10px;
    }
}