* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    list-style: none;
}

/* UTILITY CLASS */
.logo {
    padding-bottom: 20px 0px;
    padding-right: 40px;
}

.text-gray {
    color: rgb(110, 110, 110);
}

.text-white {
    color: white;
}

.nav-items {
    padding: 10px;
    padding-bottom: 5px;
    font-weight: 700;
    font-size: 12px;
    position: relative;
}

h3 {
    padding: 10px 0;
    font-size: 22px;
}

.border-radius {
    border-radius: 50%;
}

.img-width {
    width: 28px;
}

.align-center {
    display: flex;
    align-items: center;
}

.underlined:hover {
    text-decoration: underline;
}

.hover-text:hover {
    color: white;
    filter: opacity(1);
}

.hover-img {
    position: relative;
}

.hover-img:hover {
    filter: opacity(0.5);
}

.play:hover::after {
    font-size: 40px;
    content: "\f144";
    font-family: Font Awsome 7 fre;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
   transform: translate(-40%, -50%);
}



/*.fa-circle-play:hover::after {
    display: inline-block;
    font-size: 40px;
    content: "\f144";
    font-family: Font Awsome 7 free;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
   transform: translate(-40%, -50%);
}*/


/* NORMAL */
.container {
    display: flex;
}

/* BARRA LATERALE */
.lateral-bar {
    min-width: 200px;
    height: calc(100vh - 90px); 
    padding: 20px;
    background-color: black;
    font-size: 11px;
    font-weight: 700;
    line-height: 3;
    position: relative;
}

.start-none {
    display: none;
}

.search-bar li {
    padding-bottom: 10px;
    position: relative;
}

.lateral-bar .search-bar li:hover::after {
    content: "";
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 3px;            
    height: 80%;           
    background-color: #b2ff1a;
    border-radius: 2px;
}

.search-bar-container {
    display: flex;
    align-items: center;
}

.search-bar-container img {
    padding-right: 5px;
    filter: opacity(0.7);
}

.fa-square-plus {
    position: absolute;
    font-size: 32px;
}

.relative {
    position: relative;
    left: 40px;
}

.playlist-name li:first-child {
    padding-top: 8px;
}

.install img {
    width: 20px;
    filter: opacity(0.9);
}

.install {
    border-bottom: 1px solid grey;
    padding-right: 70px;
}

.user img {
    width: 40px;
    background-color: grey;
}

.download {
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-direction: column;
}

.download .user img {
    width: 22px;
    padding: 0px 1px;
}

.download .user span {
    padding-left: 10px;
}

.padding-user {
    padding-top: 8px;
}

/* MUSIC SPACE */
.music-space {
    position: relative;
    flex-grow: 1;
    background-color: rgb(30, 30, 30);
    height: calc(100vh - 90px);
    overflow: auto;
    padding: 20px;
}

.banner-upgrade {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 80px;
    position: sticky;
    top: -20px;
    right: 0;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    padding-right: 20px;
}

.upgrade {
    color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
}

.music-space .search-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 30px;
}

.music-space .search-bar .nav-items:hover::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 40%;
  height: 2px;
  background-color: #b2ff1a;
  border-radius: 2px;
}

.music-container {
    display: flex;
    padding-top: 30px;
    padding-bottom: 40px;
}

.music-items {
    padding: 0px 5px;
    display: flex;
    flex-direction: column;
    width: calc(100% / 6);
    text-align: center;
}

.music-items h4 {
    font-size: 13px;
    padding-bottom: 7px;
}

.music-items h5 {
    font-size: 10px;
}

.music-items img {
    background-size: contain;
    padding-bottom: 20px;
    max-width: 100%;
    height: auto;
}

/* PLAYER */
.player {
    height: 90px;
    background-color: rgb(50, 50, 50);
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.song-player {
    display: flex;
}

.song-name-items {
    display: flex;
    width: 36px;
}

.song-name-items img {
    background-size: contain;
    margin-right: 10px;
    max-width: 100%;
    height: auto;
}

.text-player {
    display: flex;
    flex-direction: column;
    padding-right: 40px;
}

.text-player h4 {
    font-size: 11px;
}

.text-player h5 {
    font-size: 9px;
}

.fa-heart, .fa-folder, .fa-list, .fa-tv, .fa-volume-high {
    color: rgb(110, 110, 110);
    margin-right: 15px;
}

.spotify-bar-flex {
    display: flex;
    align-items: flex-end;
    position: relative;
}

.spotify-bar {
    width: 400px;
    margin: auto;
    position: absolute;
    bottom: 0;
}

.display-flex {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    align-items: center;
}

.flex-direction-row {
    flex-direction: row;
}

.fa-circle-play, .fa-repeat, .fa-arrow-rotate-right {
    padding-bottom: 20px;
    color: white;
    padding-right: 50px;
}

#music-bar {
    width: 100%;
    -webkit-appearance: none;
    border-radius: 4px;
    height: 4px;
    background-color: rgb(121, 121, 121);
    cursor: pointer;
}

#music-bar::-webkit-slider-thumb {
    background: #b2ff1a;
    opacity: 0;
}

#music-bar:hover::-webkit-slider-thumb {
    background: #b2ff1a;
    opacity: 1;
}  

.player-dx {
    display: flex;
    align-items: center;
}