* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/* UTILITY CLASS */
.logo {
    padding: 20px 20px;
    padding-right: 80px;
}

.text-gray {
    color: rgb(110, 110, 110);
}

.nav-items {
    padding: 10px;
    font-weight: 700;
    font-size: 11px;
}



/* NORMAL */
.container {
    display: flex;
}

/* BARRA LATERALE */
.lateral-bar {
    width: 250px;
    height: calc(100vh - 90px); 
    background-color: black;
}

/* MUSIC SPACE */
.music-space {
    flex-grow: 1;
    background-color: rgb(25, 25, 25);
}

.music-space .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

/* PLAYER */
.player {
    height: 90px;
    background-color: rgb(50, 50, 50);
}