* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    list-style: none;
}

/* UTILITY CLASS */
.logo {
    padding: 20px 0px;
    padding-right: 80px;
}

.text-gray {
    color: rgb(110, 110, 110);
}

.text-white {
    color: white;
}

.nav-items {
    padding: 10px;
    font-weight: 700;
    font-size: 11px;
}

h3 {
    padding: 10px 0;
    font-size: 22px;
}



/* NORMAL */
.container {
    display: flex;
}

/* BARRA LATERALE */
.lateral-bar {
    width: 250px;
    height: calc(100vh - 90px); 
    padding: 20px;
    background-color: black;
}

/* MUSIC SPACE */
.music-space {
    flex-grow: 1;
    background-color: rgb(30, 30, 30);
    height: calc(100vh - 90px);
    overflow: auto;
    padding: 20px;
}

.music-space .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.music-container {
    display: flex;
    max-width: calc(100% - 300px);
    padding-top: 30px;
    padding-bottom: 40px;
}

.music-items {
    gap: 10px; /* aggiustare */
}

.music-items img {
    background-size: contain;
    padding-bottom: 20px;
}

/* PLAYER */
.player {
    height: 90px;
    background-color: rgb(50, 50, 50);
}