* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    list-style: none;
}

/* UTILITY CLASS */
.logo {
    padding-bottom: 20px 0px;
    padding-right: 40px;
}

.text-gray {
    color: rgb(110, 110, 110);
}

.text-white {
    color: white;
}

.nav-items {
    padding: 10px;
    font-weight: 700;
    font-size: 12px;
}

h3 {
    padding: 10px 0;
    font-size: 22px;
}

.border-radius {
    border-radius: 50%;
}

.img-width {
    width: 28px;
}

.align-center {
    display: flex;
    align-items: center;
}



/* NORMAL */
.container {
    display: flex;
}

/* BARRA LATERALE */
.lateral-bar {
    min-width: 200px;
    height: calc(100vh - 90px); 
    padding: 20px;
    background-color: black;
    font-size: 11px;
    font-weight: 700;
    line-height: 3;
    position: relative;
}

.search-bar li {
    padding-bottom: 10px;
}

.search-bar-container {
    display: flex;
    align-items: center;
}

.search-bar-container img {
    padding-right: 5px;
}

.fa-square-plus {
    position: absolute;
    left: 14px;
    font-size: 32px;
}

.relative {
    position: relative;
    left: 40px;
}

.playlist-name li:first-child {
    padding-top: 8px;
}

.install img {
    width: 20px;
}

.install {
    border-bottom: 1px solid grey;
    padding-right: 70px;
}

.user img {
    width: 40px;
    background-color: grey;
}

.download {
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-direction: column;
}

.download .user img {
    width: 22px;
    padding: 0px 1px;
}

.download .user span {
    padding-left: 10px;
}

.padding-user {
    padding-top: 8px;
}

/* MUSIC SPACE */
.music-space {
    flex-grow: 1;
    background-color: rgb(30, 30, 30);
    height: calc(100vh - 90px);
    overflow: auto;
    padding: 20px;
}

.music-space .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.music-container {
    display: flex;
    padding-top: 30px;
    padding-bottom: 40px;
}

.music-items {
    padding: 0px 5px;
    display: flex;
    flex-direction: column;
    width: calc(100% / 6);
    text-align: center;
}

.music-items h4 {
    font-size: 13px;
    padding-bottom: 7px;
}

.music-items h5 {
    font-size: 10px;
}

.music-items img {
    background-size: contain;
    padding-bottom: 20px;
    max-width: 100%;
    height: auto;
}

/* PLAYER */
.player {
    height: 90px;
    background-color: rgb(50, 50, 50);
    display: flex;
    padding: 20px;
}

.song-player {
    display: flex;
}

.song-name-items {
    display: flex;
    width: 36px;
}

.song-name-items img {
    background-size: contain;
    margin-right: 10px;
    max-width: 100%;
    height: auto;
}

.text-player {
    display: flex;
    flex-direction: column;
    padding-right: 40px;
}

.text-player h4 {
    font-size: 11px;
}

.text-player h5 {
    font-size: 9px;
}

.fa-heart, .fa-folder {
    color: rgb(110, 110, 110);
    margin-right: 15px;
}