* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITY CLASS */
.logo {
    padding: 20px 20px;
    padding-right: 80px;
}


/* NORMAL */
.container {
    display: flex;
}

/* BARRA LATERALE */
.lateral-bar {
    width: 250px;
    height: calc(100vh - 90px); 
    background-color: black;
}

/* MUSIC SPACE */
.music-space {
    flex-grow: 1;
    background-color: rgb(25, 25, 25);
}

/* PLAYER */
.player {
    height: 90px;
    background-color: rgb(50, 50, 50);
}